@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  outline: none;
  border: none;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: white;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
  outline: none;
  border: none;
}

.hamburger-inner {
  display: block;
  top: 50%;
  outline: none;
  border: none;
  margin-top: -2px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: white;
  border-radius: 4px;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

/*
   * Slider
   */
.hamburger--slider .hamburger-inner {
  top: 2px;
}

.hamburger--slider .hamburger-inner::before {
  top: 10px;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
}

.hamburger--slider .hamburger-inner::after {
  top: 20px;
}

.hamburger--slider.is-active .hamburger-inner {
  -webkit-transform: translate3d(0, 10px, 0) rotate(45deg);
          transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--slider.is-active .hamburger-inner::before {
  -webkit-transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
          transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
  opacity: 0;
}

.hamburger--slider.is-active .hamburger-inner::after {
  -webkit-transform: translate3d(0, -20px, 0) rotate(-90deg);
          transform: translate3d(0, -20px, 0) rotate(-90deg);
}

:root {
  --primary: #ff9ede ;
  --secondary: #0A0B5B;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.wrapper {
  overflow-x: hidden;
}

body.overy {
  overflow: hidden;
}

button {
  outline: none;
  border: none;
}

button::-moz-focus-inner {
  border: 0;
}

header {
  position: relative;
  width: 100%;
  height: 10vh;
  background: #252422;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

h1, h2, h3, .logo, a, p, label, textarea {
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
}

a {
  outline: none;
  border: none;
}

.btn-white {
  padding: 10px 15px;
  background-color: white;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  text-decoration: none;
  color: black;
  display: inline-block;
  cursor: pointer;
  -webkit-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.btn-white:active {
  -webkit-box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.25);
  background-color: #F356BE;
}

.hamburger, .hamburger--slider.is-active {
  margin-right: 10px;
  z-index: 200;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.logo {
  z-index: 51;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

.logo a img {
  width: 100%;
  height: 100%;
}

.phone {
  display: none;
}

.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-links {
  z-index: 199;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #252422;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  clip-path: circle(1px at 90% -10%);
  -webkit-clip-path: circle(100px at 90% -10%);
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  pointer-events: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-links.open {
  clip-path: circle(1200px at 90% -10%);
  -webkit-clip-path: circle(1200px at 90% -10%);
  pointer-events: all;
}

.nav-links li {
  list-style: none;
  opacity: 0;
}

.nav-links li a {
  font-size: 1.8rem;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 30px 0;
  display: block;
  margin: auto;
  width: 100vw;
}

li.fade {
  opacity: 1;
  padding: 1.2rem;
}

.mobile__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 100%;
  height: 5vh;
  background-color: var(--primary);
}

.mobile__phone a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
}

.mobile__phone img {
  margin-right: 5px;
}

.btn {
  padding: 10px 15px;
  background-color: var(--primary);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  text-decoration: none;
  color: black;
  display: inline-block;
  cursor: pointer;
  -webkit-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.btn:active {
  -webkit-box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.25);
  background-color: #F356BE;
}

.btn__about {
  margin: 0 auto 25px auto;
  white-space: nowrap;
}

.btn__kontakt {
  margin-top: 30px;
}

.btn__kontakt a {
  outline: none;
  border: none;
  color: black;
  padding: 15px 40px;
}

.btn__oferta {
  margin: 25px;
}

.btn-oferta, .btn-kontakt {
  padding: 15px 25px;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  text-decoration: none;
  color: black;
}

#about {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.line {
  width: 50vw;
  margin: 10px auto;
  border: 2px solid var(--primary);
}

.intro-txt, .oferta-txt, .galeria-txt, .kontakt-txt {
  padding: 20px 0;
}

.intro__title, .oferta__title, .galeria__title, .kontakt__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-top: 10px;
  font-size: 1.3rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro__text, .oferta__text, .galeria__text {
  font-size: 0.9rem;
  text-align: center;
  margin: 25px;
}

.intro-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.intro__img {
  margin-top: 2rem;
}

.intro__img img {
  width: 100vw;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #252422;
  padding: 2rem;
  background-image: url(../img/vines.svg);
  background-repeat: no-repeat;
  background-position: 0px;
}

.cards-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background-color: white;
  padding: 1rem;
  margin: 30px 0;
  height: 300px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border-radius: 20px;
  border: 3px solid white;
}

.first-card img {
  height: 100%;
  width: 100%;
}

.second-card img {
  height: 100%;
  width: 100%;
}

.third-card img {
  height: 100%;
  width: 100%;
}

.card-title {
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.card-text p {
  font-size: 0.9rem;
  text-align: center;
}

.galeria__title {
  margin-top: 20px;
}

.image {
  overflow: hidden;
  cursor: pointer;
}

.gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  -ms-grid-rows: (5vw)[30];
      grid-template-rows: repeat(30, 5vw);
  grid-gap: 15px;
  width: 80vw;
  margin: 30px auto;
}

.gallery__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery__item--1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 5;
  grid-row: 1/6;
}

.gallery__item--2 {
  -ms-grid-column: 5;
  -ms-grid-column-span: 4;
  grid-column: 5/9;
  -ms-grid-row: 1;
  -ms-grid-row-span: 5;
  grid-row: 1/6;
}

.gallery__item--3 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  -ms-grid-row: 6;
  -ms-grid-row-span: 5;
  grid-row: 6/11;
}

.gallery__item--4 {
  -ms-grid-column: 5;
  -ms-grid-column-span: 4;
  grid-column: 5/9;
  -ms-grid-row: 6;
  -ms-grid-row-span: 5;
  grid-row: 6/11;
}

.gallery__item--5 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  -ms-grid-row: 11;
  -ms-grid-row-span: 5;
  grid-row: 11/16;
}

.gallery__item--6 {
  -ms-grid-column: 5;
  -ms-grid-column-span: 4;
  grid-column: 5/9;
  -ms-grid-row: 11;
  -ms-grid-row-span: 5;
  grid-row: 11/16;
}

.gallery__item--7 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  -ms-grid-row: 16;
  -ms-grid-row-span: 5;
  grid-row: 16/21;
}

.gallery__item--8 {
  -ms-grid-column: 5;
  -ms-grid-column-span: 4;
  grid-column: 5/9;
  -ms-grid-row: 16;
  -ms-grid-row-span: 5;
  grid-row: 16/21;
}

.gallery__item--9 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  -ms-grid-row: 21;
  -ms-grid-row-span: 5;
  grid-row: 21/26;
}

.gallery__item--10 {
  -ms-grid-column: 5;
  -ms-grid-column-span: 4;
  grid-column: 5/9;
  -ms-grid-row: 21;
  -ms-grid-row-span: 5;
  grid-row: 21/26;
}

.gallery__item--11 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  -ms-grid-row: 26;
  -ms-grid-row-span: 5;
  grid-row: 26/31;
}

.gallery__item--12 {
  -ms-grid-column: 5;
  -ms-grid-column-span: 4;
  grid-column: 5/9;
  -ms-grid-row: 26;
  -ms-grid-row-span: 5;
  grid-row: 26/31;
}

.mfp-arrow {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.mfp-arrow-left {
  -webkit-transform-origin: 0 0 !important;
  transform-origin: 0 0 !important;
}

.mfp-arrow-right {
  -webkit-transform-origin: 0 0 !important;
  transform-origin: 0 0 !important;
}

input, textarea {
  background: rgba(255, 255, 255, 0.05);
  padding: 10px 1px;
  border-radius: 20px;
  border: 2px solid var(--primary);
  color: black;
  font-size: 1em;
}

.kontakt {
  background: var(--primary);
  padding: 10px 0;
}

.kontakt__text {
  margin-bottom: 25px;
  font-size: 1.1rem;
  text-align: center;
  margin: 0px 25px 25p 25px;
}

#kontakt form {
  color: #F356BE;
  width: 60%;
  max-width: 400px;
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#kontakt label {
  color: black;
  font-size: 1.2em;
}

#kontakt textarea {
  height: 200px;
  font-size: 0.8em;
}

#kontakt input, #kontakt textarea {
  resize: none;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  background-color: white;
  -webkit-box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.25);
}

#kontakt button {
  margin-top: 10px;
}

form:last-child div {
  text-align: center;
}

.kontakt-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
  margin-bottom: 25px;
}

footer {
  background-color: #252422;
  color: var(--primary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
}

.footer__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.footer__txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
  padding: 20px;
  line-height: 30px;
}

.email-img {
  margin-right: 10px;
}

.footer__title {
  font-weight: 800;
  color: #fff;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30%;
}

.footer__fb {
  margin-top: 15px;
  height: 50px;
  width: 50px;
}

.footer__fb img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

.fat {
  font-weight: 600;
}

.autopromotion {
  background: black;
  color: var(--primary);
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
}

.hearth {
  font-weight: 900;
  color: #F356BE;
  margin: 0 10px;
}

.vines {
  display: none;
}

.nav-links-desktop {
  display: none;
}

@media (min-width: 750px) {
  body {
    font-size: 18px;
  }
  h1 {
    font-size: 2.5rem;
  }
  p {
    font-size: 1rem;
  }
  .logo {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-left: 25px;
    width: 20%;
  }
  .phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    width: 60%;
  }
  .phone a {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
  }
  .phone img {
    margin-right: 5px;
  }
  .hamburger {
    z-index: 51;
  }
  .mobile__phone {
    display: none;
  }
  .nav-bar {
    width: 20%;
  }
  .nav-links {
    top: 20%;
  }
  .nav-links.open {
    -webkit-clip-path: circle(1500px at 90% -10%);
            clip-path: circle(1500px at 90% -10%);
  }
  .cards {
    position: relative;
  }
  .card {
    z-index: 2;
    width: 60%;
  }
  .first-card {
    margin-right: 250px;
  }
  .second-card {
    margin-left: 250px;
  }
  .third-card {
    margin-right: 250px;
  }
  #oferta {
    position: relative;
  }
  .vines {
    opacity: 0.5;
    z-index: 1;
    position: absolute;
    display: block;
    top: 9.9%;
    width: 800px;
    height: 1500px;
  }
  .vines img {
    width: 100%;
    height: 100%;
  }
  .btn__oferta {
    z-index: 2;
  }
  .nav-links-desktop {
    display: none;
  }
}

@media (min-width: 900px) {
  body {
    font-size: 20px;
  }
  .phone {
    display: none;
  }
  .hamburger {
    display: none;
  }
  .nav-links {
    display: none;
  }
  .nav-bar {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .logo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav-links-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-links-desktop li {
    list-style: none;
  }
  .nav-links-desktop li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 0 2rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 10vh;
    -webkit-transition: 0.2s all ease-out;
    transition: 0.2s all ease-out;
  }
  .cards {
    height: 500px;
    background-image: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
  }
  .cards::before {
    content: "";
    position: absolute;
    top: 15%;
    left: 15%;
    width: 150%;
    height: 160%;
    z-index: -1;
    background: url(../img/vines.svg) 0 0 no-repeat;
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  .card {
    width: 30%;
    margin: 0px 10px;
  }
  .cards-inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    margin-bottom: 20px;
  }
  .gallery {
    -ms-grid-columns: (1fr)[9];
        grid-template-columns: repeat(9, 1fr);
    -ms-grid-rows: (3vw)[21];
        grid-template-rows: repeat(21, 3vw);
    gap: 30px;
  }
  .gallery__item--1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 5;
    grid-row: 1/6;
  }
  .gallery__item--2 {
    -ms-grid-column: 4;
    -ms-grid-column-span: 3;
    grid-column: 4/7;
    -ms-grid-row: 1;
    -ms-grid-row-span: 5;
    grid-row: 1/6;
  }
  .gallery__item--3 {
    -ms-grid-column: 7;
    -ms-grid-column-span: 3;
    grid-column: 7/10;
    -ms-grid-row: 1;
    -ms-grid-row-span: 5;
    grid-row: 1/6;
  }
  .gallery__item--4 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    -ms-grid-row: 6;
    -ms-grid-row-span: 5;
    grid-row: 6/11;
  }
  .gallery__item--5 {
    -ms-grid-column: 4;
    -ms-grid-column-span: 3;
    grid-column: 4/7;
    -ms-grid-row: 6;
    -ms-grid-row-span: 5;
    grid-row: 6/11;
  }
  .gallery__item--6 {
    -ms-grid-column: 7;
    -ms-grid-column-span: 3;
    grid-column: 7/10;
    -ms-grid-row: 6;
    -ms-grid-row-span: 5;
    grid-row: 6/11;
  }
  .gallery__item--7 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    -ms-grid-row: 11;
    -ms-grid-row-span: 5;
    grid-row: 11/16;
  }
  .gallery__item--8 {
    -ms-grid-column: 4;
    -ms-grid-column-span: 3;
    grid-column: 4/7;
    -ms-grid-row: 11;
    -ms-grid-row-span: 5;
    grid-row: 11/16;
  }
  .gallery__item--9 {
    -ms-grid-column: 7;
    -ms-grid-column-span: 3;
    grid-column: 7/10;
    -ms-grid-row: 11;
    -ms-grid-row-span: 5;
    grid-row: 11/16;
  }
  .gallery__item--10 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    -ms-grid-row: 16;
    -ms-grid-row-span: 5;
    grid-row: 16/21;
  }
  .gallery__item--11 {
    -ms-grid-column: 4;
    -ms-grid-column-span: 3;
    grid-column: 4/7;
    -ms-grid-row: 16;
    -ms-grid-row-span: 5;
    grid-row: 16/21;
  }
  .gallery__item--12 {
    -ms-grid-column: 7;
    -ms-grid-column-span: 3;
    grid-column: 7/10;
    -ms-grid-row: 16;
    -ms-grid-row-span: 5;
    grid-row: 16/21;
  }
  .nav-links-desktop li a:hover {
    background-color: #e032a6;
    color: white;
  }
}

@media (min-width: 1200px) {
  body {
    font-size: 22px;
  }
  .intro-txt, .oferta-txt, .galeria-txt, .kontakt-txt {
    width: 80%;
    margin: auto;
  }
  .intro__img img {
    width: 100%;
    height: 100%;
  }
  #oferta {
    margin-top: 50px;
  }
  .card {
    margin: 0px 15px;
    height: 350px;
  }
  .cards {
    height: 600px;
  }
  .cards::before {
    height: 180%;
  }
  .card-text p {
    font-size: 1rem;
  }
  .btn__oferta {
    margin-top: 60px;
  }
  .gallery__item img {
    -webkit-transition: -webkit-transform .5s ease-in-out;
    transition: -webkit-transform .5s ease-in-out;
    transition: transform .5s ease-in-out;
    transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
  }
  .gallery__item img:hover {
    -webkit-transform: scale(1.4) rotate(15deg);
            transform: scale(1.4) rotate(15deg);
  }
  .kontakt {
    width: 50vw;
    margin: auto;
    border-radius: 50px;
    margin-bottom: 50px;
  }
  #kontakt {
    background-image: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
  }
  #kontakt::before {
    content: "";
    position: absolute;
    top: 17%;
    left: 17%;
    width: 132%;
    height: 110%;
    z-index: -1;
    background: url(../img/vines-dark.svg) 0 0 no-repeat;
    -webkit-transform: rotate(18deg);
            transform: rotate(18deg);
  }
}

@media (min-width: 1400px) {
  body {
    font-size: 22px;
  }
  #about {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .line {
    width: 20vw;
  }
  .intro-txt {
    width: 30%;
  }
  .intro__img {
    margin-top: 7rem;
  }
  .card {
    width: 20%;
    margin: 0px 100px;
  }
  .cards::before {
    top: 0%;
    left: 15%;
    width: 75%;
    -webkit-transform: rotate(66deg);
            transform: rotate(66deg);
  }
  #ofera {
    margin-top: 7rem;
  }
  #galeria {
    margin-top: 7rem;
  }
  .gallery {
    gap: 20px;
    -ms-grid-columns: (1fr)[15];
        grid-template-columns: repeat(15, 1fr);
    -ms-grid-rows: (3vw)[12];
        grid-template-rows: repeat(12, 3vw);
  }
  .gallery__item--1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1/7;
    -ms-grid-row: 1;
    -ms-grid-row-span: 4;
    grid-row: 1/5;
  }
  .gallery__item--2 {
    -ms-grid-column: 7;
    -ms-grid-column-span: 3;
    grid-column: 7/10;
    -ms-grid-row: 1;
    -ms-grid-row-span: 4;
    grid-row: 1/5;
  }
  .gallery__item--3 {
    -ms-grid-column: 10;
    -ms-grid-column-span: 3;
    grid-column: 10/13;
    -ms-grid-row: 1;
    -ms-grid-row-span: 4;
    grid-row: 1/5;
  }
  .gallery__item--4 {
    -ms-grid-column: 13;
    -ms-grid-column-span: 3;
    grid-column: 13/16;
    -ms-grid-row: 1;
    -ms-grid-row-span: 4;
    grid-row: 1/5;
  }
  .gallery__item--5 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    -ms-grid-row: 5;
    -ms-grid-row-span: 4;
    grid-row: 5/9;
  }
  .gallery__item--6 {
    -ms-grid-column: 4;
    -ms-grid-column-span: 3;
    grid-column: 4/7;
    -ms-grid-row: 5;
    -ms-grid-row-span: 4;
    grid-row: 5/9;
  }
  .gallery__item--7 {
    -ms-grid-column: 13;
    -ms-grid-column-span: 3;
    grid-column: 13/16;
    -ms-grid-row: 5;
    -ms-grid-row-span: 4;
    grid-row: 5/9;
  }
  .gallery__item--8 {
    -ms-grid-column: 7;
    -ms-grid-column-span: 6;
    grid-column: 7/13;
    -ms-grid-row: 5;
    -ms-grid-row-span: 4;
    grid-row: 5/9;
  }
  .gallery__item--9 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    -ms-grid-row: 9;
    -ms-grid-row-span: 4;
    grid-row: 9/13;
  }
  .gallery__item--10 {
    -ms-grid-column: 4;
    -ms-grid-column-span: 6;
    grid-column: 4/10;
    -ms-grid-row: 9;
    -ms-grid-row-span: 4;
    grid-row: 9/13;
  }
  .gallery__item--11 {
    -ms-grid-column: 10;
    -ms-grid-column-span: 3;
    grid-column: 10/13;
    -ms-grid-row: 9;
    -ms-grid-row-span: 4;
    grid-row: 9/13;
  }
  .gallery__item--12 {
    -ms-grid-column: 13;
    -ms-grid-column-span: 3;
    grid-column: 13/16;
    -ms-grid-row: 9;
    -ms-grid-row-span: 4;
    grid-row: 9/13;
  }
  .kontakt {
    width: 30vw;
  }
  #kontakt::before {
    top: 31%;
    left: 25%;
  }
  .p-phone {
    margin-left: 150px;
  }
  .p-addres {
    margin-left: 300px;
  }
  .p-city {
    margin-left: 450px;
  }
  .footer__email {
    margin-left: 600px;
  }
}
/*# sourceMappingURL=main.css.map */